h2 {text-align: center;
    color: rgb(105, 34, 107);}
h4 {text-align: center;
    color: rgb(105, 34, 107);}
h5 {text-align: center;
    color: rgb(105, 34, 107);}
h6 {text-align: center;
    color: rgb(105, 34, 107);}
p {text-align: center;
    color: rgb(105, 34, 107);}

.ct-chart {stroke: black;
    font-weight: lighter;}
.ct-series-a .ct-slice-donut {
    stroke: rgb(158, 121, 179);
    stroke-width: 20px;
    }
.ct-series-b .ct-slice-donut {
    stroke: rgb(167, 158, 218);
    stroke-width: 20px;
    }
.ct-series-c .ct-slice-donut {
    stroke: rgb(184, 184, 221);
    stroke-width: 20px;
    }

#map {height: 700px;
      width: 100%;}

.container {margin-top: 50px;
width: 100%;}

#plot1 {
    height: 400px;
    width: 100%;
}

.ct-chart {
    height: 310px;
    width: 100%;
}

.leaflet-pane .leaflet-tooltip-pane .myLabelStyle {
    color: rgb(105, 34, 107);
    font-weight: bold;
    padding: 2px;

}

/* .navbar .navbar-brand {
    background-color: #b84d64;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;} */